html {
  height: 100%;
  font-size: 16px;
}
body {
  padding-top: env(safe-area-inset-top);
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  vertical-align: baseline;
}
*:focus {
  outline: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: unset;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
ol {
  list-style: none;
  counter-reset: item;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  object-fit: fill;
  vertical-align: middle;
}
label {
  display: block;
  margin: 0;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
}
.page-content {
  padding: size(50px) 0;
}

.main-title {
  font-size: size(42px);
  font-weight: 500;
  line-height: 135%;
}
.main-title-m {
  font-size: size(32px);
  font-weight: 500;
  line-height: 135%;
}
.main-title-s {
  font-size: size(22px);
  font-weight: 500;
  line-height: 135%;
}
.af-text-m {
  font-size: size(18px);
  font-weight: 500;
  line-height: 135%;
}
.af-text-m-grey {
  font-size: size(12px);
  font-weight: 500;
  line-height: 135%;
}
.tooltip-text-reset {
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
  height: unset;
}

.current-offers {
  margin-top: size(60px);
  display: flex;
  flex-direction: column;
  row-gap: size(20px);
  .main-title-m {
    margin-top: size(20px);
  }
}
.main-swiper-wrapper {
  position: relative;
  .v1-swiper-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: size(50px);
    height: size(50px);
    //background: $lightGrey;
    border-radius: 50%;
    top: 40%;
    .icon {
      width: size(10px);
      height: size(20px);
      mask: url("@/assets/images/svg/arr-right.svg") center / contain no-repeat ;
      -webkit-mask: url("@/assets/images/svg/arr-right.svg") center / contain no-repeat ;
      background-color: $darkBlue;
    }
    &::after {
      content: none;
    }
    &.swiper-button-next {
      right: size(-20px);
      transform: translateX(100%);
    }
    &.swiper-button-prev {
      left: size(-20px);
      transform: translateX(-100%) rotate(180deg);
    }
  }
  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 0.7;
  }
}
.offers {
  //margin-top: size(40px);
}
.main-row-2 {
  //margin-top: size(20px);
  display: flex;
  flex-wrap: wrap;
  gap: size(30px);
  .offers__card-item {
    width: calc(50% - size(30px) / 2);
  }
}
.offers__card-item {
  border-radius: size(10px);
  overflow: hidden;
  cursor: pointer;
}
.offers__card {
  padding-top: 55%;
  position: relative;
  display: block;
  background-color: transparent;
  width: 100%;
  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .offers__card-text {
    margin-top: 15px; /* Space between the image and text */
    font-size: 16px; /* Adjust font size */
    color: #333; /* Text color */
    text-align: center; /* Center the text below the card */
  }
}
.offers__card-info {
  padding: size(30px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $darkGrey;
  transform: none; /*translate3d(0, 100%, 0); edited on 12192024*/
  border-radius: size(13px);
  transition: none; /*transform .5s;edited on 12192024 */
  .af-text-m {
    color: #fff;
  }
}
.points-content {
  margin-top: size(40px);
  display: flex;
  flex-direction: column;
  row-gap: size(20px);
}
.points-content__footer {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 780px) {
    .points-content__footer {
        grid-template-columns: 1fr;
    }
}

.af-ol-item {
  display: flex;
  align-items: center;
  counter-increment: item;
  font-size: size(14px);
  & + & {
    margin-top: size(8px);
  }
  &:before {
    margin-right: 10px;
    content: counter(item);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $brown;
    border: 1px solid $brown;
    width: size(20px);
    height: size(20px);
    font-size: size(12px);
  }
}
.af-offer-text {
  margin-top: size(40px);
  max-width: size(600px);
}
.other-offers {
  margin-top: size(40px);
  display: flex;
  flex-direction: column;
  row-gap: size(20px);
}
.card-auth-modal {
  .sm\:max-w-lg {
    max-width: size(400px);
  }
  .af-button {
    margin: 0 auto;
    max-width: 80%;
  }
}
.card-auth-content {
  //padding: size(20px) size(15px);
}
.af-input {
  input {
    border: 1px solid #667085;
    box-shadow: none;
    &:focus {
      box-shadow: none;
      border-color: #667085;
    }
  }
}
.lang-select {
  background-color: #F5F5F5;
  border: none;
  box-shadow: none;
  cursor: pointer;
  &:focus {
    box-shadow: none;
  }
  &::before {
    content: '';
    width: size(20px);
    height: size(20px);
    background: url("../images/svg/ic-globe.svg") center / contain no-repeat;
  }
  .block {
    color: $darkBlue;
    font-size: size(14px);
    font-style: normal;
    font-weight: 500;
  }
  .i-heroicons-chevron-down-20-solid {
    transition: .2s;
  }
}
.lang-select-wrapper {
  &[data-headlessui-state="open"] {
    .i-heroicons-chevron-down-20-solid {
      transform: rotate(180deg);
    }
  }
}
.tooltip-wrapper {
  width: 100%;
}
.af-skeleton {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mobile-ver {
  .main-title {
    font-size: size(28px);
  }
  .af-text-m {
    font-size: size(16px);
  }
  .current-offers {
    margin-top: size(22px);
    row-gap: size(12px);
  }
  .main-title-m {
    font-size: size(22px);
  }
  .main-row-2 {
    .offers__card-item {
      width: 100%;
    }
  }
  .main-swiper-wrapper {
    .v1-swiper-button {
      display: none;
    }
  }
  .v1-swiper-pagination {
    &.swiper-pagination-bullets.swiper-pagination-horizontal {
      margin-top: size(10px);
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .swiper-pagination-bullet {
      display: block;
      background-color: $darkGrey;
    }
  }
  .offers__card-info {
    padding: size(10px);
    position: static;
    border-radius: 0;
    transform: unset;
  }
  .offers__card {
    padding-top: 0;
    border-radius: size(10px);
    overflow: hidden;
    img {
      position: static;
    }
    .af-skeleton {
      position: static;
      height: size(200px);
    }
  }
  .offers__card-item {
    border-radius: 0;
  }
  .burger-btn {
    width: size(40px);
    height: size(40px);
    display: block;
    span {
      background-color: $darkBlue;
      width: 100%;
      height: 100%;
    }
  }
  .page-content {
    padding: size(25px) 0;
  }
  .af-offer-text {
    margin-top: size(24px);
  }
  .points-content {
    margin-top: size(24px);
    row-gap: size(18px);
  }
  .main-title-s {
    font-size: size(18px);
  }
  .af-ol-item {
    font-size: size(12px);
  }
  .other-offers {
    margin-top: size(24px);
    row-gap: size(18px);
  }
}

@media (max-width: 1439px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 800px;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 9px;
  }
  .container {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 5vw;
  }
}



