html {
  height: 100%;
  font-size: 16px;
}
body {
  padding-top: env(safe-area-inset-top);
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  vertical-align: baseline;
}
*:focus {
  outline: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: unset;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
ol {
  list-style: none;
  counter-reset: item;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  object-fit: fill;
  vertical-align: middle;
}
label {
  display: block;
  margin: 0;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
}
.page-content {
  padding: size(40px) 0;
}

.main-title {
  font-size: size(42px);
  font-weight: 500;
  line-height: 135%;
}
.main-title-m {
  font-size: size(32px);
  font-weight: 500;
  line-height: 135%;
}
.main-title-s {
  font-size: size(22px);
  font-weight: 500;
  line-height: 135%;
}
.af-text-m {
  font-size: size(14px);
  font-weight: 500;
  line-height: 135%;
}

.current-offers {
  margin-top: size(60px);
  display: flex;
  flex-direction: column;
  row-gap: size(20px);
}
.main-swiper-wrapper {
  position: relative;
  .v1-swiper-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: size(50px);
    height: size(50px);
    background: $lightGrey;
    border-radius: 50%;
    top: 40%;
    .icon {
      width: size(10px);
      height: size(20px);
      mask: url("@/assets/images/svg/arr-right.svg") center / contain no-repeat ;
      -webkit-mask: url("@/assets/images/svg/arr-right.svg") center / contain no-repeat ;
      background-color: $grey;
    }
    &::after {
      content: none;
    }
    &.swiper-button-next {
      right: size(-20px);
      transform: translateX(100%);
    }
    &.swiper-button-prev {
      left: size(-20px);
      transform: translateX(-100%) rotate(180deg);
    }
  }
  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 0.7;
  }
}
.offers {
  margin-top: size(40px);
}
.main-row-2 {
  margin-top: size(20px);
  display: flex;
  flex-wrap: wrap;
  gap: size(30px);
  .offers__card-item {
    width: calc(50% - size(30px) / 2);
  }
}
.offers__card-item {
  border-radius: size(10px);
  overflow: hidden;
}
.offers__card {
  padding-top: 55%;
  position: relative;
  display: block;
  background-color: $lightGrey;
  width: 100%;
  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    .offers__card-info {
      transform: translate3d(0, 0, 0);
    }
  }
}
.offers__card-info {
  padding: size(30px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #09090B;
  transform: translate3d(0, 100%, 0);
  border-radius: 13px;
  transition: transform .5s;
  .af-text-m {
    color: #fff;
  }
}
.points-content {
  margin-top: size(40px);
  display: flex;
  flex-direction: column;
  row-gap: size(20px);
}
.points-content__footer {
  display: flex;
  column-gap: size(30px);
  max-width: size(650px);
}
.af-ol-item {
  counter-increment: item;
  font-size: size(14px);
  & + & {
    margin-top: size(8px);
  }
  &:before {
    margin-right: 10px;
    content: counter(item);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $brown;
    border: 1px solid $brown;
    width: size(20px);
    height: size(20px);
    font-size: size(12px);
  }
}
.af-offer-text {
  margin-top: size(40px);
  max-width: size(600px);
}
.other-offers {
  margin-top: size(40px);
  display: flex;
  flex-direction: column;
  row-gap: size(20px);
}
.card-auth {

}
.card-auth-content {
  padding: size(20px) size(15px);
}



